.heading {
    font-size: 20px;
    color:red;
}
img[alt="Конструктор"] {
    border: 4px solid;
}
img[alt="Говорящий робот"] {
    border: 4px solid green
}
p1 {
    font-size: 14px;
}
.list {
    font-size: 13px;
}